version: 'test-{build}'
environment:
  matrix:
    - nodejs_version: '6'
    - nodejs_version: '8'
    - nodejs_version: '10'
    - nodejs_version: '12'
platform:
  - x86
  - x64
clone_folder: 'c:\projects\%APPVEYOR_PROJECT_NAME%'
install:
  - ps: 'Update-NodeJsInstallation (Get-NodeJsLatestBuild $env:nodejs_version) $env:platform'
  - ps: '$NpmVersion = (npm -v).Substring(0,1)'
  - ps: 'if($NpmVersion -eq 5) { npm install -g npm@5 }'
  - ps: npm --version
  - npm install
  - echo %cd%
  - node --version
  - npm --version
test_script:
  - 'npm run test:unit'
  - 'set DEBUG=testing:*'
  - 'npm run test:integration'
build: 'off'
